numpy                                                      
pandas                                                     
matplotlib                                         
yfinance                                                   
streamlit                                                  
seaborn
datetime
scikit-learn
